<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nitcemag">
    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".RejectedArticleRepost"
            android:exported="false"
            android:parentActivityName=".RejectList"/>
        <activity
            android:name=".MyArticles"
            android:exported="false"
            android:label="My Articles"
            android:parentActivityName=".MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/res" />
        </provider>

        <activity
            android:name=".EditorAction"
            android:exported="false"
            android:label="Editor&apos;s Dashboard"
            android:parentActivityName=".EditorArticlesList" />
        <activity
            android:name=".EditorDashboard"
            android:exported="false"
            android:label="Editor&apos;s Dashboard"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.postArticles.PostArticles"
            android:exported="false"
            android:label="Post Articles"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MyProfile"
            android:exported="false"
            android:label="My Profile"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Signup"
            android:exported="false"
            android:label="Sign Up"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Signin"
            android:exported="false"
            android:label="Sign In"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ArticlesActivity"
            android:exported="false"
            android:label="Article Description"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ReviewerAction"
            android:exported="false"
            android:label="Reviewer&apos;s Dashboard"
            android:parentActivityName=".ReviewerArticlesList" />
        <activity
            android:name=".RejectList"
            android:exported="false"
            android:label="Rejected Articles"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EditorArticlesList"
            android:exported="false"
            android:label="Editor&apos;s Dashboard"
            android:parentActivityName=".EditorDashboard" />
        <activity
            android:name=".ReviewerArticlesList"
            android:exported="false"
            android:label="Review Articles"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ui.splashScreen"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>